@import '_vars';

.block {
  display: block;
  width: 40%;
  min-height: 100px;
  min-width: 600px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  background-color: white;
  padding: 20px;
}

.section_title {
  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 30px;
    font-weight: 500;
    color: $color2;
  }

  padding: 10px;
  border-bottom: 1px solid #ededed;
}

.basic-text--color-muted {
  color: #999;
}

.default_btn {
  padding: 6px 10px;
  font-weight: 600;
  font-family: inherit;
  font-size: 14px;
  color: $color2;
  border-radius: 5px;
  background-color: $color3;
  //border: 1px solid $color2;
  align-content: end;
  min-width: 110px;
  min-height: 30px;
  &:hover {
    background-color: $color4;

  }
  &:active {
    //background-color: $color5;
    transform: scale(0.9, 0.9);
  }
}

.default_input {
  display: block;
  border: 1px solid #999;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}
.error_message_block {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  color: red ;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 10px auto;
  text-align: center;
  vertical-align: center;
  line-height: 20px;
}

.error_message_text {
  color: red;
  margin: 5px 0;
}
