.post_button_align{
  text-align: right;
  & button {
    margin: 0 5px;
  }
}
.post_error {
  border: 1px solid red;
}
.post_error_message {
  font-family: inherit;
  color: red;
  font-size: 13px;
  margin-left: 60px;
}