.app-wrapper {
  /*Все первые потомки класса app-wrapper(header, nav) будут в виде сетки*/
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows:  100px 1fr;
  grid-template-columns: 1fr 5fr;
  /*grid-gap: 10px;*/

  width: 1700px;
  /*margin 0 auto; - верхний нижний отступы 0, справа слева auto*/
  margin: 0 auto;
}






